body {
    position: relative; 
}

label {
    margin:5px;
}

input, textarea {
    color:#000;
}

#section1 {padding-top:75px;height:inherit;color: #eee; background-color: #183170;}
#section2 {padding-top:50px;height:inherit;color: #eee; background-color: #2E4172;}
#section3 {padding-top:50px;height:inherit;color: #eee; background-color: #455274;}
#section4 {padding-top:50px;height:inherit;color: #eee; background-color: #5C6376;}



.jumbotron {
    background-color: #ddd;
    color:#2E4172;
    height:auto;
}
 
.card{
    flex-wrap: wrap;
    width: 40rem;
    background-color: #455274;
    border-radius: 10px;
    margin:5px;
    padding:5px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    width:auto;
    margin:10px;
    padding:10px;
}

.fa {
    margin: 5px;
}

.list-group {
    width: 150px;
}
.list-group-item a {
    color:#2E4172;
    
}
.list-group-item a:hover {
    color:#5C6376;
    text-decoration: none;
}
  
.btn-danger {
    background-color:darkred;
}

.btn-group-vertical {
    width:250px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

  .carousel-caption {
    background-color: #2E4172;
    border-radius: 10px;
  }
  
@media only screen and (max-width: 600px) {
    .carouselImage{
        visibility: visible;
    }

    .carousel-caption p{
        display: none;
      }
    .carouselBtn {
        display: block;
    }
}

footer {
    
    padding-top:50px;
    height:inherit;
    color: #eee; 
    background-color: #444;}
